annotated-types==0.7.0
anyio==4.13.0
asyncpg==0.30.0
black==26.5.0
click==8.4.0
colorama==0.4.6
dependency-injector==4.48.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.116.1
greenlet==3.5.0
h11==0.16.0
httptools==0.7.1
idna==3.15
isort==8.0.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
SQLAlchemy==2.0.43
starlette==0.47.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.35.0
watchfiles==1.1.1
websockets==16.0
